{% extends 'index/layouts/base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'index/css/men.css'%}">
<link rel="script" href="{% static 'javascripti/imagebes.js'%}">
<link rel="stylesheet" href="{% static 'index/css/inputs.css'%}">
{% endblock %}

{% block content %}


    <nav class="publiv" id="publiv" style="--i:#b7b9b9;--j:#ffffff;">
        <form enctype=multipart/form-data method="POST">
           <div class="cocos">
               {% csrf_token%}
                {{form.as_p}}
               <input id="cursor" type="submit" value="Publicar">
           </div>
        </form>
    </nav>




{% endblock%}